################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetTools/.vs/DotNetTools
/DotNetTools/XmlToAppSettingsJson/obj
